<html>
  <head>
    <title>Browser Test</title>
  </head>
  <body>
    <ul>
      <li><a href="{% url 'ip' %}">ip</a></li>
      <li><a href="{% url 'user_agent' %}">user-agent</a></li>
    </ul>
  </body>
</html>
